<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Não é uma página</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../../static/global.css" />
    <link rel="stylesheet" href="../../static/navbar.css" />
</head>

<body>
    <nav class="vw-100 flex flex-row justify-between align-center navbar">
        <a class="h-full"><img src="../../static/images/Anoto_LogoWhite2.png" class="logo"></a>
        <input type="checkbox" id="btn_hamburger">
        <label for="btn_hamburger" class="none">☰</label>
        <ul class="flex flex-row justify-around w-fit h-full navbar-links">
            <li class="w-fit">
                <div class="search-bar justify-evenly">
            <input type="search" placeholder="Busque um livro" class="search-input"/> <button type="submit" class="search-button">
                <i class="fa fa-search"></i></button>
            </div>
            </li>
            <li>Livros Salvos</li>
            <li>Perfil</li>
            <li>Seguindo</li>
            <li>Sair</li>
        </ul>
    </nav>
</body>

</html>