<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AnotoBolso {% if annotation.text != "" %} Atualizar {% else %} Criar {% endif %} anotação</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <link rel="stylesheet" href="../../static/global.css" />
  <link rel="stylesheet" href="../../static/write.css" />
</head>
<div class="flex align-center justify-center vw-100 vh-100" id="write-overlay">
<div class="card flex flex-col justify-between write-card">
  <div class="flex flex-row justify-between w-100">
    <h1>Escreva sua anotação</h1>
    <span><input type="checkbox" id="visibility-setting" name="visibility" {% if annotation.public %} checked {% endif
        %} />
      <label for="visibility-setting"></label></span>
  </div>
  <textarea name="text" id="text">{{ annotation.text }}</textarea>

  <div class="flex flex-row write-options justify-flex-end">
    <button class="alert" hx-get="" hx-target="#write-overlay" hx-swap="delete" hx-trigger="click, keyup[key=='Escape'] from:body">Cancelar</button>
    {% if annotation.text != "" %}
    <button hx-put="/annotation/{{ annotation.id }}" hx-include="#text, #visibility-setting"
      hx-target="#annotation-{{annotation.id}}" hx-swap="outerHTML"
      hx-on::after-request="if(event.detail.successful) document.querySelector('#write-overlay').remove()">Atualizar</button>
    {% else %}
    <button hx-post="/annotation?book_id={{id}}" hx-include="#text, #visibility-setting, #id"
      hx-target="#section-annotation" hx-swap="afterbegin"
      hx-on::after-request="if(event.detail.successful) document.querySelector('#write-overlay').remove()">Enviar</button>
    {% endif %}
  </div>
</div>
</div>