.sign-card label {
    display: block;
    margin: 10px 0 4px;
    font-size: 0.9rem;
    color: var(--secondary-text);
}

.sign-card input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 6px;
    font-size: 0.9rem;
}


#sign-card-link {
    margin-top: 12px;
    font-size: 0.85rem;
    color:var(--text)
}
#sign-card-link a{
    color: var(--accent);
}
#sign-card-link a:hover{
    text-decoration: underline;
}