<head>
  <title>Anotobolso - {{ book.title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
  <link rel="stylesheet" href="../static/global.css" />
  <link rel="stylesheet" href="../static/bookannotation.css" />
  <link rel="stylesheet" href="../../static/write.css" />
  <link rel="stylesheet" href="../../static/post.css" />
</head>
{% extends "navbar.html" %}
{% block main %}
<div class="overlay flex flex-col justify-center align-center flex-grow"></div>

<div class="book flex flex-col align-center vw-100">
  <div class="flex flex-row">

    <h1 class="flex flex-row justify-around w-full align-center"><b class="mr-10">
        {{ book.title }}</b>
    </h1>
  </div>

  <div class="bookinfo flex flex-col w-full">
    {% if book.summary != ""%}
    <input type="radio" id="book-summary" name="book-info-tab">
    {% endif %}
    <input type="radio" id="book-data" name="book-info-tab" checked="checked">
    <div class="flex flex-row justify-evenly w-fill">
      {% if book.summary != ""%}
      <label for="book-summary" class="book-tab">Sumário</label>
      {% endif %}
      <label for="book-data" class="book-tab">Informações</label>
    </div>
    <div id="summary-div" class="book-info-tab">
      <p>Sumário: {{ book.summary }}</p>
    </div>
    <div id="info-div" class="book-info-tab">
      <div><b> Autor: </b> {{ book.author }}</div>
    </div>
  </div>
</div>

{% if owner.id == user.id %}
<button id="write-annotation" hx-get="/write_component?book_id={{book.id}}" hx-target=".overlay">
  <i class="fa-solid fa-pencil"></i>
</button>
{% endif %}
<section class="flex flex-col justify-around align-center flex-grow" id="section-annotation">

  {% for annotation in annotations %}

  {% include "annotation.html" with context %}

  {% else %}
  <h1>Crie sua primeira anotação</h1>
  {% endfor %}
</section>

{% endblock main %}

</html>