<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anotobolso - profile</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="../static/global.css" />
  <link rel="stylesheet" href="../static/profile.css" />
</head>

<body >
  <div class="book flex flex-col align-center vw-100">
    <img src="https://m.media-amazon.com/images/I/61DjjOWKvoL.jpg" class="size-p">
    <div class="flex flex-row">

    
        <h1 class="flex flex-row justify-around w-full align-center"><b class="mr-10">Book name</b>
            <div class="relative">
              <button popovertarget="book-options" class="three-dots"> <i class="fas fa-ellipsis-v"></i> </button>
              <div popover id="book-options" class="menu">
          <button popovertarget="delete-confirmation">Deletar</button>
          <button>Share annotations</button>
          <button>Private annotations</button>
        </div>
            </div>
        </h1>
        
      </div>
    
    <div class="bookinfo flex flex-col w-full">
      <input type="radio" id="social-following" name="tab" checked="checked">
      <input type="radio" id="social-followers" name="tab">
      <div class="flex flex-row justify-evenly w-fill">
        <label for="social-following" class="book-tab">Summary</label>
        <label for="social-followers" class="book-tab">Information</label>
      </div>
      <div id="summary-div" class="social-tab">
        <p>Text about the book</p>
      </div>
      <div id="info-div" class="social-tab">

        <div id="bookinfo_ISBN10"><b>ISBN 10:</b> </div>
        <div id="bookinfo_ISBN13"><b>ISBN 10:</b> </div>
        <div id="bookinfo_Author"><b>Autor(a)</b> </div>
        <div id="bookinfo_title"><b>Título:</b> </div>
        <div id="bookinfo_publisher""><b>Editora:</b> </div>
        <div id=" bookinfo_pages"><b>Página:</b> </div>
        <div id="bookinfo_publish_day"><b>Lançamento:</b> </div>
        <div id="bookinfo_genre"><b>Gênero:</b> </div>
      </div>

    </div>
  </div>

  <section class="flex flex-col justify-around align-center">

    <div class="card annotation flex-col">
      <div class="flex flex-row justify-around align-center relative">
        <span>Datetime</span>
        <span><input type="checkbox" id="heart" checked />
          <label for="heart" /> : Num likes</span>
        <span>Public ou privado</span>
        <button popovertarget="annotation-options" class="three-dots"><i class="fas fa-ellipsis-v"></i></button>

        <div popover id="annotation-options" class="menu">
          <button popovertarget="delete-confirmation">Deletar</button>
          <button>Share annotations</button>
          <button>Private annotations</button>
        </div>
      </div>
      <div class="annotation-text flex flex-col justify-center">
        Page 40 is my favorite moment
      </div>
    </div>
    

    
<button id="write-annotation">
  <i class="fa-solid fa-pencil"></i>
</button>
  </section>
</body>

</html>