<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>AnotoBolso - Buscando usuário {{ name }}</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="../../static/global.css" />
    <link rel="stylesheet" href="../../static/post.css" />
</head>
{% extends "navbar.html" %}
{% block main %}



<div id="div-usuarios" class="flex flex-col flex-grow vw-100 align-center justify-around">
    {% if name != "" %}
    {% for db_user in users %}
    <div class="card post flex-col" id="user-{{ db_user.id }}"
        onClick="window.location.href = '/books/{{ db_user.username }}'">
        <div class="flex flex-row justify-around align-center relative">
            <span>{{ db_user.name }}@<span class="secondary-text">{{ db_user.username }}</span></span>
        </div>
    </div>
    {% else %}
        <div class="flex flex-col flex-grow vw-100 align-center justify-center">
            <p>Não foram encontrados usuários com o nome {{ name }}</p>
        </div>
    {% endfor %}

    {% if last_page == False %}

    <div    hx-get="/users?page={{ page + 1}}&name={{name}}"
            hx-trigger="intersect" 
            hx-target="this" 
            hx-swap="afterend"
            hx-select="#div-usuarios"
            hx-indicator="#indicator">
    </div>
    {% endif %}
    {% else %}
        <div class="flex flex-col flex-grow vw-100 align-center justify-center">
            <p>Pesquise por um usuário</p>
        </div>
    {% endif %}
</div>
<div class="flex justify-center align-center vw-100 flex-grow">
<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" id="indicator" class="htmx-indicator"><!-- Icon from SVG Spinners by Utkarsh Verma - https://github.com/n3r4zzurr0/svg-spinners/blob/main/LICENSE --><path fill="currentColor" d="M12,23a9.63,9.63,0,0,1-8-9.5,9.51,9.51,0,0,1,6.79-9.1A1.66,1.66,0,0,0,12,2.81h0a1.67,1.67,0,0,0-1.94-1.64A11,11,0,0,0,12,23Z"><animateTransform attributeName="transform" dur="0.75s" repeatCount="indefinite" type="rotate" values="0 12 12;360 12 12"/></path></svg>
</div>
{% endblock main %}