<!DOCTYPE html>
<html lang="pt-BR" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anotobolso - Entrar</title>
  <link rel="stylesheet" href="../static/global.css" />
  <link rel="stylesheet" href="../static/sign.css" />
</head>

<body>
  <main class="flex flex-col justify-center align-center flex-grow">
    <div class="card sign-card flex flex-col ">
      <h1>Entrar</h1>
      <label for="username">Nome de usuário</label>
      <input type="text" id="username" name="username" placeholder="JohnStar5" required />
      <label for="password">Senha</label>
      <input type="password" id="password" name="password" placeholder="********" required />
      <button onclick="submit()">Entrar</button>
      <p id="sign-card-link">Ainda não tem conta? <a href="/signup">Cadastre-se</a></p>
    </div>
  </main>
</body>
<script>
  async function submit() {
    const user = {
      name: "",
      username: document.getElementById('username').value,
      password: document.getElementById('password').value,
    };

    const response = await fetch('/signin', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(user)
    });
    if (response.ok) {
      const result = await response.json();
      window.location.href = "/books";
    }
    else {
      const result = await response.json();
      alert(result.detail);
    }
  }
  if (!localStorage.getItem('anotobolso_mode'))
    localStorage.setItem('anotobolso_mode', 'light');

  document.addEventListener('DOMContentLoaded', () => {
    const page = document.querySelector("html");
    page.dataset.theme = localStorage.getItem('anotobolso_mode');
  });
</script>

</html>