

.annotation{
    width: 80vw;
    background-color: rgb(0, 124, 233);
}

.size-p{
    width: 100vw;
    height: 200px;
    object-fit: cover;
}


.dropdown-menu{
    position: absolute;
    display: none;
}
#dropdown-btn:checked~.dropdown-menu{
    display: flex;
    flex-direction: column;
}

.book-info-tab{
    display: none;
    width: 100%;
    background-color: red;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.book-info-tab > div{
    display: flex;
}
#book-summary:checked~#summary-div{
    display: flex;
}
#book-data:checked~#info-div{
    display: flex;
}

#delete-confirmation{
    z-index:2;
}

#book-data:checked ~ div label[for="book-data"]{
    background-color: aqua;
}
#book-summary:checked ~ div label[for="book-summary"]{
    background-color: aqua;
}

.annotation-text{
    margin-top: 5vh;
    text-align: left;
    width: 100%;
}