.navbar{
    height: 10vh;
    background-color: var(--primary);
}

.navbar-links > li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 10vw;
    font-size: 1.3rem;
    color: var(--white);
}
.navbar-links > li:hover{
    border-bottom:  10px solid var(--white);
    font-weight: bold;
    color: var(--white);
}

.logo{
    height: 100%;
    width: auto;
}